  *{
      margin:0.2em;
      padding:0.2em;
      border-radius:0.6em;
      font-size:1em;
      font-family:Sans;
  }

  body{
      text-align:center;
  }

  article{
      max-width:40em; 
      margin:0.2em auto;
  }
